<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stash" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <appender name="fluentd" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:24224</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <root level="INFO">
        <appender-ref ref="stash" />
        <appender-ref ref="fluentd"/>
    </root>
</configuration>